name: Lint

on: pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/Checkout@v3
    - name: Run luacheck
      uses: nebularg/actions-luacheck@v1
      with:
        annotate: warning
        args: --no-color
